.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/longtable_1402.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 628px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Great Vibes";
  font-size: 3.75rem;
  margin: 297px 29px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 324px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -60px auto 57px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 393px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 65px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 35px 9px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 393px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 37px auto 0 99px;
}

.u-section-2 .u-text-3 {
  margin: 28px 1px 0 30px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 58px 9px 0 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 393px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 28px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 58px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 393px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px -11px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-icon-1 {
    color: currentcolor !important;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-2 .u-icon-2 {
    height: 53px;
    width: 53px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-3 {
    height: 53px;
    width: 53px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
  }

  .u-section-2 .u-text-6 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-4 {
    height: 53px;
    width: 53px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 34px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 19px;
  }

  .u-section-2 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-icon-4 {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: -49px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 14px;
  }

  .u-section-2 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-icon-4 {
    height: 38px;
    width: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-2 .u-icon-1 {
    height: 31px;
    width: 31px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-2 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-icon-4 {
    height: 32px;
    width: 32px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-group-1 {
  min-height: 368px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Great Vibes";
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px -35px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 13px auto 60px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/longtable_1432.jpg");
  background-position: 60.64% 0%;
  min-height: 411px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/longtable_1551.jpg");
  background-position: 50% 50%;
  min-height: 411px;
  background-size: auto 120%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/longtable_1461.jpg");
  background-position: 50% 50%;
  background-size: auto 110%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/longtable_1412.jpg");
  background-position: 50% 50%;
  min-height: 411px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 530px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 327px;
  }

  .u-section-3 .u-image-2 {
    min-height: 327px;
  }

  .u-section-3 .u-image-3 {
    min-height: 327px;
    animation-duration: 5500ms;
  }

  .u-section-3 .u-image-4 {
    min-height: 327px;
    animation-duration: 5500ms;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 404px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 250px;
  }

  .u-section-3 .u-image-2 {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 922px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 750px;
  }

  .u-section-3 .u-image-2 {
    min-height: 750px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 576px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 327px;
  }

  .u-section-3 .u-image-2 {
    min-height: 327px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: "Great Vibes";
  font-size: 3.75rem;
  width: 316px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  width: 557px;
  margin: 10px auto 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  margin: 30px 0 43px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/240318229_863898384495794_5893593217335615161_n.jpg");
  background-position: 0% 95.8%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/238374116_560464041666845_2441940778338011026_n.jpg");
  background-position: 100% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/240548448_3588006697969681_3612783352074425155_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/240631976_385137126335013_5158931378317396154_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

.u-section-4 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/240869404_802026780494353_3924015450408516170_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

.u-section-4 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/240441047_2906150986305896_3518740345849635460_n.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 239px -22px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    min-height: 309px;
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    min-height: 947px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666664px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1806px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    min-height: 1598px;
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    grid-template-columns: 100%;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-gallery-1 {
  height: 419px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  width: 381px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-5 .u-text-1 {
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-5 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3324px;
  }

  .u-section-5 .u-gallery-1 {
    height: 977px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 354px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  font-family: "Great Vibes";
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 20px 45px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
    color: rgb(126, 92, 53) !important;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 437px;
}

.u-section-7 .u-gallery-1 {
  height: 401px;
  grid-gap: 17px 17px;
  margin-top: 13px;
  margin-bottom: 23px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-7 .u-gallery-1 {
    height: 331px;
    grid-template-columns: repeat(3, auto);
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-7 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-7 .u-gallery-1 {
    height: 977px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 237px;
}

.u-section-8 .u-gallery-1 {
  height: 236px;
  grid-gap: 17px 17px;
  margin: 1px 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-8 .u-back-image-1 {
  object-position: 39.42% 50%;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-8 .u-gallery-1 {
    height: 195px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(10, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-8 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-8 .u-gallery-1 {
    height: 977px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}.u-section-9 .u-sheet-1 {
  min-height: 437px;
}

.u-section-9 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 13px auto 60px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-9 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-9 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-9 .u-gallery-1 {
    height: 977px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-text-1 {
  font-family: "Great Vibes";
  font-weight: 400;
  margin: 50px 474px 0 491px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-1 {
  min-height: 323px;
  background-image: url("images/_DSC0048.JPG");
  background-position: 50% 50%;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-2 {
  margin: 71px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 41px 2px 0 -2px;
}

.u-section-10 .u-image-2 {
  min-height: 323px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 323px;
}

.u-section-10 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-4 {
  margin: 63px 0 0;
}

.u-section-10 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-5 {
  min-height: 320px;
}

.u-section-10 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-10 .u-text-7 {
  margin: 20px 0 30px;
}

.u-section-10 .u-image-3 {
  background-image: url("images/129424373_864109544355988_5840147941143473032_n.jpg");
  background-position: 50% 50%;
  min-height: 320px;
}

.u-section-10 .u-layout-cell-7 {
  min-height: 320px;
}

.u-section-10 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-10 .u-text-9 {
  margin: 20px 0 30px;
}

.u-section-10 .u-image-4 {
  min-height: 320px;
  background-image: url("images/longtable_103.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 391px;
    margin-right: 374px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-10 .u-image-1 {
    min-height: 254px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-text-2 {
    position: relative;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-10 .u-image-2 {
    min-height: 254px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 254px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-text-4 {
    position: relative;
  }

  .u-section-10 .u-text-5 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 254px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-text-6 {
    position: relative;
  }

  .u-section-10 .u-text-7 {
    position: relative;
  }

  .u-section-10 .u-image-3 {
    min-height: 254px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 254px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-text-8 {
    position: relative;
  }

  .u-section-10 .u-text-9 {
    position: relative;
  }

  .u-section-10 .u-image-4 {
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 264px;
    margin-left: 281px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-image-1 {
    min-height: 195px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-10 .u-image-2 {
    min-height: 195px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-10 .u-image-3 {
    min-height: 195px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-10 .u-image-4 {
    min-height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 174px;
    margin-left: 191px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-1 {
    min-height: NaNpx;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-10 .u-image-2 {
    min-height: NaNpx;
  }

  .u-section-10 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-10 .u-image-3 {
    min-height: NaNpx;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-10 .u-text-8 {
    margin-top: 21px;
  }

  .u-section-10 .u-image-4 {
    min-height: NaNpx;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 74px;
    margin-left: 91px;
  }

  .u-section-10 .u-image-1 {
    min-height: 226px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-3 {
    margin-bottom: 20px;
  }

  .u-section-10 .u-image-2 {
    min-height: 226px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-5 {
    margin-bottom: 20px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 226px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-7 {
    margin-bottom: 20px;
  }

  .u-section-10 .u-image-3 {
    min-height: 226px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 226px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-10 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-10 .u-text-9 {
    margin-bottom: 20px;
  }

  .u-section-10 .u-image-4 {
    min-height: 226px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 741px;
}

.u-section-11 .u-text-1 {
  font-family: "Great Vibes";
  font-weight: 400;
  margin: 105px 0 0;
}

.u-section-11 .u-layout-wrap-1 {
  min-height: 591px;
  margin: 70px auto 0 0;
}

.u-section-11 .u-image-1 {
  min-height: 301px;
  background-image: url("images/longtable_154.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-image-2 {
  min-height: 301px;
  background-image: url("images/longtable_131.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-image-3 {
  min-height: 301px;
  background-image: url("images/longtable_156.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px;
}

.u-section-11 .u-image-4 {
  min-height: 301px;
  background-image: url("images/longtable_139.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px;
}

.u-section-11 .u-image-5 {
  min-height: 301px;
  background-image: url("images/longtable_094.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-5 {
  padding: 20px;
}

.u-section-11 .u-image-6 {
  min-height: 301px;
  background-image: url("images/longtable_113.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-6 {
  padding: 20px;
}

.u-section-11 .u-image-7 {
  min-height: 301px;
  background-image: url("images/longtable_103.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-7 {
  padding: 20px;
}

.u-section-11 .u-image-8 {
  min-height: 301px;
  background-image: url("images/longtable_109.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-8 {
  padding: 20px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1070px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 679px;
}

.u-section-12 .u-text-1 {
  font-family: "Great Vibes";
  font-weight: 400;
  margin: 50px 0 0;
}

.u-section-12 .u-layout-wrap-1 {
  min-height: 350px;
  margin: 70px auto 60px 0;
}

.u-section-12 .u-image-1 {
  background-image: url("images/longtable.png");
  background-position: 4.47% 50%;
  min-height: 360px;
}

.u-section-12 .u-container-layout-1 {
  padding: 20px;
}

.u-section-12 .u-image-2 {
  background-image: url("images/akademiabaru.png");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-12 .u-container-layout-2 {
  padding: 20px;
}

.u-section-12 .u-image-3 {
  background-image: url("images/longtables.png");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-12 .u-container-layout-3 {
  padding: 20px;
}

.u-section-12 .u-image-4 {
  background-image: url("images/lodowe.png");
  background-position: 50% 50%;
  min-height: 360px;
}

.u-section-12 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-12 .u-layout-wrap-1 {
    min-height: 591px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-1 {
    min-height: 301px;
  }

  .u-section-12 .u-image-2 {
    min-height: 301px;
  }

  .u-section-12 .u-image-3 {
    min-height: 301px;
  }

  .u-section-12 .u-image-4 {
    min-height: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-12 .u-image-1 {
    background-position: 50% 50%;
  }
}.u-section-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/longtable_156.jpg");
  background-position: 50% 50%;
  margin: 0;
}

.u-section-13 .u-sheet-1 {
  min-height: 374px;
}

.u-section-13 .u-text-1 {
  margin: 60px 168px 0 203px;
}

.u-section-13 .u-text-2 {
  margin: 20px 230px 0;
}

.u-section-13 .u-text-3 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-13 .u-text-4 {
  margin: 20px 230px 0;
}

.u-section-13 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-13 .u-text-1 {
    width: 680px;
    margin-left: 103px;
    margin-right: 68px;
  }

  .u-section-13 .u-text-2 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-13 .u-text-4 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 38px;
    margin-right: 3px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-13 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-13 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-3 {
    width: 540px;
  }

  .u-section-13 .u-text-4 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-13 .u-text-1 {
    width: 340px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-text-3 {
    width: 340px;
  }

  .u-section-13 .u-text-4 {
    width: 340px;
  }
}